body {
  margin: 0;
  background: #ffffff; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  min-height: 499px;
  background: url("../img/m-h-day.jpg") no-repeat center;
  background-size: cover;
  border-radius: 0 0 449px/199px 0; }
  .header-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 19px 19px 10vw;
    width: 600px;
    position: relative; }
    .header-wrap .landing-logo {
      display: flex;
      flex-direction: row;
      justify-content: normal;
      align-items: normal;
      position: absolute;
      left: 10vw;
      top: 20px; }
      .header-wrap .landing-logo p {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 2px 0 0 11px;
        font-weight: bold;
        height: 30px;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.2em;
        color: #2C2F3C; }
      .header-wrap .landing-logo span {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 0.4em;
        margin-top: 2px; }
    .header-wrap .header_heading {
      font-size: 3em;
      font-weight: bold;
      color: #2C2F3C;
      margin: 0;
      line-height: 1em;
      width: 400px;
      font-family: "Source Sans Pro", sans-serif; }
      .header-wrap .header_heading::after {
        content: "awesome";
        position: absolute;
        left: 10vw;
        color: #373c4a;
        background-color: #36ADCE; }
    .header-wrap .header_text {
      margin: 29px 0;
      color: #2C2F3C;
      width: 600px;
      white-space: pre-line;
      font-size: 0.8em;
      font-family: "Source Sans Pro", sans-serif; }
    .header-wrap div:last-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 352.9411764706px; }
      .header-wrap div:last-child a {
        color: #F5FBFA; }
      .header-wrap div:last-child button {
        border-radius: 2px;
        color: #F5FBFA;
        border: none;
        height: 34px;
        background-color: #699900;
        width: 94px; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center; }
  .section .section_text {
    font-size: 2em;
    color: #2C2F3C;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold; }
    .section .section_text::after {
      content: "adventure";
      position: absolute;
      left: 170px;
      color: #373c4a;
      background-color: #36ADCE; }
  .section .section_card_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section .section_card_wrap .section_card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: normal;
      width: 66%;
      margin-bottom: 29px;
      border-radius: 6px;
      color: #FFF8E2;
      background-color: #21232E;
      padding: 14px; }
      .section .section_card_wrap .section_card .section_card_img {
        min-width: 40%;
        border-radius: 5px;
        float: left;
        height: auto; }
      .section .section_card_wrap .section_card .section_card_right_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: right;
        margin: 16px 69px;
        font-family: "Source Sans Pro", sans-serif;
        max-width: 60%; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          color: #FFF8E2; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          color: #A6B9BB; }
        .section .section_card_wrap .section_card .section_card_right_container a {
          color: #A6B9BB; }
  .section .section_banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #699900, #2F5DCD);
    width: 75%;
    margin-top: 59px;
    height: 140px;
    margin-bottom: -59px;
    border-radius: 6px; }
    .section .section_banner .section_banner_text_wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
      .section .section_banner .section_banner_text_wrap .section_banner_text {
        font-family: "Source Sans Pro", sans-serif;
        margin-top: 14px;
        color: #A6B9BB; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading {
        font-size: 1.8em;
        font-family: "Source Sans Pro", sans-serif;
        margin: 0;
        position: relative;
        font-weight: bolder;
        color: #2C2F3C; }
        .section .section_banner .section_banner_text_wrap .section_banner_heading::after {
          content: "start";
          position: absolute;
          left: 117px;
          color: #373c4a;
          background-color: #36ADCE; }
    .section .section_banner button {
      border-radius: 2px;
      color: #F5FBFA;
      border: none;
      height: 34px;
      background-color: #699900;
      width: 94px; }

.footer .footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 199px;
  padding-top: 70px;
  background-color: #21232E; }
  .footer .footer-wrap .landing-logo {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal; }
    .footer .footer-wrap .landing-logo p {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 2px 0 0 11px;
      font-weight: bold;
      height: 30px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.2em;
      color: #C0C3CE; }
    .footer .footer-wrap .landing-logo span {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 0.4em;
      margin-top: 2px; }
  .footer .footer-wrap .footer_text, .footer .footer-wrap .footer-cr {
    color: #C0C3CE;
    width: 318px; }
  .footer .footer-wrap .footer-cr {
    width: 249px; }
