$font: 'Source Sans Pro', sans-serif;
$header-source: url("../img/m-h-night.jpg");

$padding-left: 10vw;
$padding-top: 20px;
$width: 600px;
$banner-height: 140px;

$bg-color-white: #21232F;
$color-green: #E1AB01;
$color-blue: #FD4D34;
$color-dark-blue: #932E52;
$color-dark: #FDFDFE;
$color-black: #3B3F50;
