$font: 'Source Sans Pro', sans-serif;
$header-source: url("../img/m-h-day.jpg");

$padding-left: 10vw;
$padding-top: 20px;
$width: 600px;
$banner-height: 140px;

$bg-color-white: #ffffff;
$color-green: #699900;
$color-blue: #36ADCE;
$color-dark-blue: #2F5DCD;
$color-dark: #2C2F3C;
$color-black: #21232E;


