@import "../../scss/main.scss";
.list {
	max-width: 400px;
	&__wrap {
		@include flexbox();
		flex-direction: column;
		background-color: $second;
		box-shadow: $shadow;
		border-radius: 15px;
		min-height: 400px;
	}
	&__container {
		flex: 1;
	}
	&__list {
		padding: 15px 15px;
		& > * {
			margin-bottom: 10px;
		}
	}
}