@import "../../scss/main.scss";
.board {
	min-height: 100vh;
	padding-top: 65px;
	background-color: $accent;
	overflow: auto;
	.container {
		height: 100%;
	}
	&__wrap {
		@include flexbox(); 
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 0px -7.5px;
		margin-bottom: 65px;
		& > * {
			flex: 1 1 25%;
			max-width: 25%;
			padding: 0px 7.5px;
			margin-bottom: 15px; 
			@media (min-width: $ld+px) {
				flex: 0 0 20%;
				max-width: 30%;
			}
			@media (max-width: $md1+px) {
				flex: 0 0 33.33%;
				max-width: 100%;
			}
			@media (max-width: $md2+px) {
				flex: 0 1 50%;
			}
			@media (max-width: $md3+px) {
				flex: 0 1 100%;
			}
		}
	}
}