@import "../../scss/main.scss";
.taskForm {
	flex: 1;
	padding: 5px 15px;
	border-radius: 25px;
	&__form {
		@include flexbox();
		align-items: center;
	}
	&__input {
		flex: 1;
		font-size: 14px;
		border: 1px solid darken($second, 10%);
		line-height: 33px;
		height: 33px;
		border-radius: 15px;
		padding: 0px 15px;
		margin-right: 10px;
		@media (max-width: $md4+px) {
			min-width: 170px;
		}
	}
}