@import "../../scss/main.scss";
.listHeader {
	@include flexbox();
	position: relative;
	align-items: center;
	padding: 5px 15px;
	box-shadow: $shadow;
	&__title {
		color: $textLight;
		text-align: center;
		font-size: 16px;
		font-weight: 900;
	}
	&__progressBar {
		margin-left: auto;
		margin-right: 0px;
	}
	&__delete {
		position: absolute;
		top: -5px;
		right: -5px;
		display: block;
		height: 20px;
		width: 20px;
		margin-left: 5px;
		background: $second;
		border-radius: 50%;
		&:before, &:after {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 12%;
			width: 60%;
			display: block;
			background: $textLight;
			border-radius: 4px;
		}
		&:before {
			content: '';
			transform: translateX(-50%) translateY(-50%) rotate(45deg);

		}
		&:after {
			content: '';
			transform: translateX(-50%) translateY(-50%) rotate(-45deg);
		}
	}
}