@import "../../scss/main.scss";
.listHeader {
	position: relative;
	padding: 5px 15px;
	box-shadow: $shadow;
	&__wrap {
		@include flexbox();
		cursor: pointer;
		align-items: center;
	}
	&__title {
		color: $textLight;
		text-align: center;
		font-size: 16px;
		font-weight: 900;
	}
	&__progressBar {
		margin-left: auto;
		margin-right: 0px;
	}
	&__delete {
		position: absolute;
		top: -5px;
		right: -5px;
		display: block;
		height: 22px;
		width: 22px;
		margin-left: 5px;
		background: $second;
		border-radius: 50%;
		&:before, &:after {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 12%;
			width: 60%;
			display: block;
			background: $textLight;
			border-radius: 4px;
		}
		&:before {
			content: '';
			transform: translateX(-50%) translateY(-50%) rotate(45deg);

		}
		&:after {
			content: '';
			transform: translateX(-50%) translateY(-50%) rotate(-45deg);
		}
	}
	&__dropArrow {
		position: relative;
		height: 20px;
		width: 20px;
		margin-right: 10px;
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			border-radius: 7px;
			top: 42%;
			height: 15%;
			width: 55%;
			background: $textLight;
			transition: transform 0.2s;
		}
		&:before {
			left: 7%;
			transform: rotate(50deg);
		}
		&:after {
			right: 7%;
			transform: rotate(-50deg);
		}
		&_active {
			&:before {
				left: 7%;
				transform: rotate(-50deg);
			}
			&:after {
				right: 7%;
				transform: rotate(50deg);
			}
		}
	}
}