
/* Task 2. Add a hover effect for the navigation items */
.tm-nav-item-link:hover {
	color: #fff;
	background-color: lightskyblue;
}

/* Task 3. Add gradient for the banner */
.tm-banner {
	background-image: linear-gradient(to right, lightskyblue, burlywood);
}
.tm-banner-inner {
	background-color: #fff;
}

/* Tasks 4,5. Add shadow for text in bunner Task & animation to the banners text */
.tm-banner-text {
	text-shadow: 5px 4px 4px #333;
	animation: 3.9s fadeInLeft;
}

@keyframes fadeInLeft {
	0% {
			transform: translateX(200px);
	}
	100% {
			transform: translateX(0);
	}
}

/* Task 6. Add styles for “What we do” section */
.flex-2-col {
	display: flex;
	align-items: center;
}
.flex-2-col .tm-section-title {
	text-align: center;
}