
/* Task 2. Add a hover effect for the navigation items */
.tm-nav-item-link:hover {
	color: #fff;
	background-color: lightskyblue;
}

/* Task 3. Add gradient for the banner */
.tm-banner {
	background-image: linear-gradient(to right, lightskyblue, burlywood);
}

.tm-banner-inner {
	background-color: #fff;
}

/* Tasks 4,5. Add shadow for text in bunner Task & animation to the banners text */
.tm-banner-text {
	text-shadow: 5px 4px 4px #333;
	animation: 3.9s fadeInLeft;
}

@keyframes fadeInLeft {
	0% {
			transform: translateX(200px);
	}
	100% {
			transform: translateX(0);
	}
}

/* Task 6. Add styles for “What we do” section */
.flex-2-col {
	display: flex;
	align-items: center;
}

.flex-2-col .tm-section-title {
	text-align: center;
}

/* Task 7. Add a hover effect for gallery section */
#about .box-bg:hover {
	background-color: lightgrey;
	color: lightskyblue;
}

/* Task 8. Add styling to the “We are…” section */
.heading .padding-medium h2 {
	text-align: center;
	color: lightskyblue;
}

.heading .padding-medium ol {
	list-style-type: lower-alpha;
}

.heading .padding-medium ol li:hover::before {
	content: ">";
	font-weight: bold;
}

.heading .padding-medium .text {
	position: relative;
}

.heading .padding-medium .text:after {
  content: "New";
  color: red;
  font-size: 10px;
  vertical-align: top;
  font-variant: small-caps;
  font-weight: bold;
}

/* Task 9. Add style for last paragraph of section ‘Our work’ */
.blocks .tm-section-title {
	text-align: left;
}

.blocks .tm-team-description-container p {
	text-indent: 25px;
}

.blocks .tm-team-description-container p:last-child {
	font-style: italic;
	word-spacing: 10px;
	letter-spacing: 5px;
} 

/* Task 10. Style the following blocks */
.blocks .boxes .box-work {
	padding: 10px;
}
.blocks .boxes .box-work:nth-child(2n+1) {
	background-color: lightskyblue; 
	color: #fff;
}
.blocks .box-work h2 {
	font-weight: 400;
}
.blocks .box-work p {
	font-style: italic;
}
.blocks .box-work p:first-letter {
	font-weight: 600;
}

/* Task 11. Style for all paragraphs tm-section-description */
.tm-section-description {
	line-height: 30px;
	text-indent:25px;
}

